In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
url ='C:/Users/User/Desktop/BlackFriday.csv'
df = pd.read_csv(url)

print(df)

        User_ID Product_ID Gender    Age  Occupation City_Category  \
0       1000001  P00069042      F   0-17          10             A
1       1000001  P00248942      F   0-17          10             A
2       1000001  P00087842      F   0-17          10             A
3       1000001  P00085442      F   0-17          10             A
4       1000002  P00285442      M    55+          16             C
5       1000003  P00193542      M  26-35          15             A
6       1000004  P00184942      M  46-50           7             B
7       1000004  P00346142      M  46-50           7             B
8       1000004   P0097242      M  46-50           7             B
9       1000005  P00274942      M  26-35          20             A
10      1000005  P00251242      M  26-35          20             A
11      1000005  P00014542      M  26-35          20             A
12      1000005  P00031342      M  26-35          20             A
13      1000005  P00145042      M  26-35          20             A
14      1000006  P00231342      F  51-55           9             A
15      1000006  P00190242      F  51-55           9             A
16      1000006   P0096642      F  51-55           9             A
17      1000006  P00058442      F  51-55           9             A
18      1000007  P00036842      M  36-45           1             B
19      1000008  P00249542      M  26-35          12             C
20      1000008  P00220442      M  26-35          12             C
21      1000008  P00156442      M  26-35          12             C
22      1000008  P00213742      M  26-35          12             C
23      1000008  P00214442      M  26-35          12             C
24      1000008  P00303442      M  26-35          12             C
25      1000009  P00135742      M  26-35          17             C
26      1000009  P00039942      M  26-35          17             C
27      1000009  P00161442      M  26-35          17             C
28      1000009  P00078742      M  26-35          17             C
29      1000010  P00085942      F  36-45           1             B
...         ...        ...    ...    ...         ...           ...
537547  1004733  P00244042      M  18-25          18             C
537548  1004734  P00111042      M  51-55           1             B
537549  1004734  P00345842      M  51-55           1             B
537550  1004735  P00278242      M  46-50           3             C
537551  1004735  P00313442      M  46-50           3             C
537552  1004735   P0098642      M  46-50           3             C
537553  1004735  P00119342      M  46-50           3             C
537554  1004735  P00114042      M  46-50           3             C
537555  1004735  P00135142      M  46-50           3             C
537556  1004736  P00194542      M  18-25          20             A
537557  1004736  P00175242      M  18-25          20             A
537558  1004736  P00101942      M  18-25          20             A
537559  1004736  P00109142      M  18-25          20             A
537560  1004736  P00084842      M  18-25          20             A
537561  1004736  P00078142      M  18-25          20             A
537562  1004736  P00146742      M  18-25          20             A
537563  1004736  P00154642      M  18-25          20             A
537564  1004736  P00117442      M  18-25          20             A
537565  1004736  P00051142      M  18-25          20             A
537566  1004736  P00048742      M  18-25          20             A
537567  1004736  P00157542      M  18-25          20             A
537568  1004736  P00250642      M  18-25          20             A
537569  1004736  P00023142      M  18-25          20             A
537570  1004736  P00162442      M  18-25          20             A
537571  1004737  P00221442      M  36-45          16             C
537572  1004737  P00193542      M  36-45          16             C
537573  1004737  P00111142      M  36-45          16             C
537574  1004737  P00345942      M  36-45          16             C
537575  1004737  P00285842      M  36-45          16             C
537576  1004737  P00118242      M  36-45          16             C

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                               2               0                   3
1                               2               0                   1
2                               2               0                  12
3                               2               0                  12
4                              4+               0                   8
5                               3               0                   1
6                               2               1                   1
7                               2               1                   1
8                               2               1                   1
9                               1               1                   8
10                              1               1                   5
11                              1               1                   8
12                              1               1                   8
13                              1               1                   1
14                              1               0                   5
15                              1               0                   4
16                              1               0                   2
17                              1               0                   5
18                              1               1                   1
19                             4+               1                   1
20                             4+               1                   5
21                             4+               1                   8
22                             4+               1                   8
23                             4+               1                   8
24                             4+               1                   1
25                              0               0                   6
26                              0               0                   8
27                              0               0                   5
28                              0               0                   5
29                             4+               1                   2
...                           ...             ...                 ...
537547                          1               0                   1
537548                          1               1                  15
537549                          1               1                   2
537550                          3               0                   1
537551                          3               0                   5
537552                          3               0                   6
537553                          3               0                  10
537554                          3               0                   5
537555                          3               0                  13
537556                          1               1                   8
537557                          1               1                   2
537558                          1               1                   8
537559                          1               1                   8
537560                          1               1                   8
537561                          1               1                   8
537562                          1               1                   1
537563                          1               1                   8
537564                          1               1                   5
537565                          1               1                   8
537566                          1               1                   5
537567                          1               1                   8
537568                          1               1                  11
537569                          1               1                   5
537570                          1               1                   1
537571                          1               0                   1
537572                          1               0                   1
537573                          1               0                   1
537574                          1               0                   8
537575                          1               0                   5
537576                          1               0                   5

        Product_Category_2  Product_Category_3  Purchase
0                      NaN                 NaN      8370
1                      6.0                14.0     15200
2                      NaN                 NaN      1422
3                     14.0                 NaN      1057
4                      NaN                 NaN      7969
5                      2.0                 NaN     15227
6                      8.0                17.0     19215
7                     15.0                 NaN     15854
8                     16.0                 NaN     15686
9                      NaN                 NaN      7871
10                    11.0                 NaN      5254
11                     NaN                 NaN      3957
12                     NaN                 NaN      6073
13                     2.0                 5.0     15665
14                     8.0                14.0      5378
15                     5.0                 NaN      2079
16                     3.0                 4.0     13055
17                    14.0                 NaN      8851
18                    14.0                16.0     11788
19                     5.0                15.0     19614
20                    14.0                 NaN      8584
21                     NaN                 NaN      9872
22                     NaN                 NaN      9743
23                     NaN                 NaN      5982
24                     8.0                14.0     11927
25                     8.0                 NaN     16662
26                     NaN                 NaN      5887
27                    14.0                 NaN      6973
28                     8.0                14.0      5391
29                     4.0                 8.0     16352
...                    ...                 ...       ...
537547                 2.0                15.0     11543
537548                 NaN                 NaN     20924
537549                 8.0                14.0     13082
537550                 NaN                 NaN     11658
537551                 6.0                 8.0      6863
537552                 8.0                 NaN     16415
537553                13.0                 NaN     18526
537554                14.0                 NaN      7099
537555                16.0                 NaN       578
537556                14.0                 NaN      2183
537557                 NaN                 NaN     12724
537558                17.0                 NaN      7796
537559                17.0                 NaN      7770
537560                16.0                 NaN      5940
537561                16.0                 NaN      7834
537562                13.0                14.0     11508
537563                 NaN                 NaN      6074
537564                14.0                 NaN      7084
537565                 NaN                 NaN      7934
537566                 NaN                 NaN      5350
537567                14.0                 NaN      1994
537568                 NaN                 NaN      5930
537569                14.0                 NaN      7042
537570                16.0                 NaN     15491
537571                 2.0                 5.0     11852
537572                 2.0                 NaN     11664
537573                15.0                16.0     19196
537574                15.0                 NaN      8043
537575                 NaN                 NaN      7172
537576                 8.0                 NaN      6875

[537577 rows x 12 columns]

In [32]:
#1)Get the columns or features of  of the Dataset
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [33]:
#2)How many observations are there in the dataset
df.index

RangeIndex(start=0, stop=537577, step=1)

In [39]:
#3)What are the missing values ? How many for each category?
print(df.isnull().values.any()) #For checking if null value exists
print(df.isnull().sum().sum()) #For calculating the total number of missing values
df.isnull().sum() #Category wise missing values

True
540285

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [44]:
#4)How many unique values for UserId and Product Id
print('Unique values for UserID',len(df.User_ID.unique()))
print('Unique values for ProductID',len(df.Product_ID.unique()))

Unique values for UserID 5891
Unique values for ProductID 3623

In [55]:
#5)How many males and females in the data set?
print("Females are: ",df.isin(['F']).sum().sum())
print("Males are: ",df.isin(['M']).sum().sum())

Females are:  132197
Males are:  405380

In [3]:
#6)Print a frequency chart for the age groups
#df['Age'].value_counts().plot('bar')
df["Age"].value_counts()

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

In [4]:
#7)What is the distribution of marital status of people?
#df['Marital_Status'].value_counts().plot('bar')
df['Marital_Status'].value_counts()

0    317817
1    219760
Name: Marital_Status, dtype: int64

In [9]:
#8)Create 3 files for each of the city category
df[df.City_Category=='A']

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
56,1000015,P00334242,M,26-35,7,A,1,0,1,8.0,NaN,19653
57,1000015,P00247542,M,26-35,7,A,1,0,8,16.0,NaN,5958
58,1000015,P00338442,M,26-35,7,A,1,0,1,16.0,NaN,11415
59,1000015,P00275142,M,26-35,7,A,1,0,5,8.0,NaN,5380
60,1000015,P00333042,M,26-35,7,A,1,0,5,8.0,NaN,3594
61,1000015,P00166242,M,26-35,7,A,1,0,8,NaN,NaN,4209
62,1000015,P00161942,M,26-35,7,A,1,0,5,8.0,NaN,5407
63,1000015,P00348242,M,26-35,7,A,1,0,8,NaN,NaN,7803
64,1000015,P00042142,M,26-35,7,A,1,0,1,2.0,6.0,11458
85,1000019,P00112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
86,1000019,P00339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
87,1000019,P00127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
88,1000019,P00125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
89,1000019,P00251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
90,1000019,P00249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
91,1000019,P00124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
...,...,...,...,...,...,...,...,...,...,...,...,...
537447,1004725,P00219542,M,36-45,5,A,2,0,5,6.0,NaN,7157
537448,1004725,P00316242,M,36-45,5,A,2,0,5,NaN,NaN,5299
537449,1004725,P00274642,M,36-45,5,A,2,0,4,5.0,NaN,2130
537450,1004725,P00114342,M,36-45,5,A,2,0,1,8.0,17.0,19132
537451,1004725,P00313242,M,36-45,5,A,2,0,8,NaN,NaN,5888
537452,1004725,P00021642,M,36-45,5,A,2,0,8,14.0,NaN,7990
537453,1004725,P00137042,M,36-45,5,A,2,0,8,16.0,NaN,4182
537454,1004725,P00052842,M,36-45,5,A,2,0,10,15.0,NaN,18617
537455,1004725,P00111742,M,36-45,5,A,2,0,15,NaN,NaN,17312
537456,1004725,P00115842,M,36-45,5,A,2,0,16,NaN,NaN,12218
537457,1004725,P00327342,M,36-45,5,A,2,0,16,NaN,NaN,12494
537458,1004725,P00193842,M,36-45,5,A,2,0,11,16.0,NaN,4443
537459,1004725,P00250342,M,36-45,5,A,2,0,16,NaN,NaN,16926
537460,1004725,P00238542,M,36-45,5,A,2,0,5,14.0,NaN,3526
537461,1004725,P00293242,M,36-45,5,A,2,0,8,16.0,NaN,6130
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491

In [11]:
df[df.City_Category=='B']

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
30,1000010,P00118742,F,36-45,1,B,4+,1,5,11.0,NaN,8886
31,1000010,P00297942,F,36-45,1,B,4+,1,8,NaN,NaN,5875
32,1000010,P00266842,F,36-45,1,B,4+,1,5,NaN,NaN,8854
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946
34,1000010,P00032442,F,36-45,1,B,4+,1,5,NaN,NaN,5152
35,1000010,P00105942,F,36-45,1,B,4+,1,5,NaN,NaN,7089
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909
37,1000010,P00186942,F,36-45,1,B,4+,1,5,12.0,NaN,8770
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705
40,1000010,P00087242,F,36-45,1,B,4+,1,14,NaN,NaN,7947
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963
42,1000010,P00259342,F,36-45,1,B,4+,1,5,9.0,NaN,8718
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406
44,1000010,P00148642,F,36-45,1,B,4+,1,6,10.0,13.0,12642
45,1000010,P00312142,F,36-45,1,B,4+,1,8,NaN,NaN,10007
46,1000010,P00113242,F,36-45,1,B,4+,1,1,6.0,8.0,11562
70,1000018,P00366542,F,18-25,3,B,3,0,5,NaN,NaN,1780
71,1000018,P00190742,F,18-25,3,B,3,0,3,4.0,9.0,10754
72,1000018,P00151842,F,18-25,3,B,3,0,4,8.0,9.0,2802
73,1000018,P00112642,F,18-25,3,B,3,0,1,2.0,5.0,19473
74,1000018,P00118442,F,18-25,3,B,3,0,1,2.0,NaN,19672
75,1000018,P00034442,F,18-25,3,B,3,0,1,14.0,16.0,19313
76,1000018,P00222242,F,18-25,3,B,3,0,1,2.0,13.0,15182
77,1000018,P00118342,F,18-25,3,B,3,0,2,3.0,15.0,15985
...,...,...,...,...,...,...,...,...,...,...,...,...
537517,1004732,P00202142,M,26-35,14,B,2,1,8,16.0,17.0,8097
537518,1004732,P00003242,M,26-35,14,B,2,1,8,15.0,NaN,10075
537519,1004732,P00345842,M,26-35,14,B,2,1,2,8.0,14.0,16469
537520,1004732,P00329542,M,26-35,14,B,2,1,1,15.0,16.0,15493
537521,1004732,P00235842,M,26-35,14,B,2,1,11,15.0,16.0,6003
537522,1004732,P00121542,M,26-35,14,B,2,1,8,15.0,NaN,7849
537523,1004732,P00324442,M,26-35,14,B,2,1,11,13.0,16.0,5905
537524,1004732,P00070242,M,26-35,14,B,2,1,5,11.0,NaN,7025
537525,1004732,P00123142,M,26-35,14,B,2,1,11,NaN,NaN,5966
537526,1004732,P00122442,M,26-35,14,B,2,1,1,11.0,15.0,3822
537527,1004732,P00125842,M,26-35,14,B,2,1,11,16.0,NaN,4595
537528,1004732,P00217542,M,26-35,14,B,2,1,1,2.0,11.0,11879
537529,1004732,P00184942,M,26-35,14,B,2,1,1,8.0,17.0,19217
537530,1004732,P00318742,M,26-35,14,B,2,1,1,8.0,NaN,12086
537531,1004732,P00216242,M,26-35,14,B,2,1,3,4.0,5.0,10974
537532,1004732,P00319042,M,26-35,14,B,2,1,5,NaN,NaN,8659
537533,1004732,P00209842,M,26-35,14,B,2,1,5,8.0,NaN,6978
537534,1004732,P00255942,M,26-35,14,B,2,1,1,16.0,NaN,15556
537535,1004732,P00103042,M,26-35,14,B,2,1,1,14.0,NaN,15785
537536,1004732,P00005042,M,26-35,14,B,2,1,6,16.0,NaN,19933
537537,1004732,P00219942,M,26-35,14,B,2,1,6,16.0,NaN,16486
537538,1004732,P00041842,M,26-35,14,B,2,1,6,8.0,NaN,12651
537539,1004732,P00113842,M,26-35,14,B,2,1,6,8.0,16.0,12510
537540,1004732,P00124642,M,26-35,14,B,2,1,16,NaN,NaN,16610
537541,1004732,P00051442,M,26-35,14,B,2,1,8,17.0,NaN,9877
537542,1004732,P00085242,M,26-35,14,B,2,1,8,14.0,17.0,10036
537543,1004732,P00117242,M,26-35,14,B,2,1,8,17.0,NaN,7802
537544,1004732,P00093342,M,26-35,14,B,2,1,1,8.0,18.0,11535
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082

In [10]:
df[df.City_Category=='C']

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027
50,1000012,P00304242,M,26-35,12,C,2,0,1,6.0,NaN,15246
51,1000012,P00365242,M,26-35,12,C,2,0,5,8.0,NaN,6865
52,1000013,P00129542,M,46-50,1,C,3,1,8,14.0,NaN,5839
53,1000013,P00140742,M,46-50,1,C,3,1,1,15.0,NaN,15912
54,1000013,P00182342,M,46-50,1,C,3,1,1,5.0,6.0,12107
55,1000014,P00276642,M,36-45,0,C,0,0,8,11.0,NaN,5848
65,1000016,P00244242,F,36-45,0,C,0,1,1,2.0,15.0,11755
66,1000016,P00217742,F,36-45,0,C,0,1,5,14.0,NaN,8702
67,1000017,P00019342,M,51-55,1,C,0,0,1,6.0,15.0,15872
68,1000017,P00100642,M,51-55,1,C,0,0,5,15.0,NaN,8609
69,1000017,P00073842,M,51-55,1,C,0,0,1,15.0,17.0,15172
127,1000025,P00206442,M,18-25,4,C,4+,0,1,5.0,9.0,15361
128,1000025,P00046742,M,18-25,4,C,4+,0,1,2.0,15.0,15770
129,1000025,P00120042,M,18-25,4,C,4+,0,1,2.0,NaN,18974
142,1000027,P00281742,M,26-35,11,C,1,1,5,8.0,18.0,8696
143,1000027,P00266642,M,26-35,11,C,1,1,1,8.0,9.0,7730
...,...,...,...,...,...,...,...,...,...,...,...,...
537468,1004726,P00302642,F,36-45,16,C,2,1,16,NaN,NaN,4144
537469,1004726,P00296042,F,36-45,16,C,2,1,8,13.0,16.0,7986
537470,1004726,P00132042,F,36-45,16,C,2,1,13,16.0,NaN,572
537471,1004726,P00034842,F,36-45,16,C,2,1,5,14.0,NaN,7177
537472,1004726,P00037142,F,36-45,16,C,2,1,1,2.0,5.0,11845
537473,1004726,P00058442,F,36-45,16,C,2,1,5,14.0,NaN,5155
537474,1004726,P00303242,F,36-45,16,C,2,1,5,8.0,NaN,8626
537475,1004727,P00295942,F,55+,0,C,3,0,2,5.0,15.0,12826
537476,1004727,P00351142,F,55+,0,C,3,0,1,8.0,17.0,15898
537509,1004729,P00075542,M,51-55,16,C,1,1,8,13.0,NaN,7819
537510,1004729,P00070042,M,51-55,16,C,1,1,1,2.0,16.0,15622
537511,1004729,P00193542,M,51-55,16,C,1,1,1,2.0,NaN,7801
537512,1004729,P00197042,M,51-55,16,C,1,1,5,NaN,NaN,7116
537513,1004729,P00228242,M,51-55,16,C,1,1,8,NaN,NaN,8001
537514,1004730,P00354642,M,51-55,11,C,0,1,8,13.0,NaN,9729
537545,1004733,P00144042,M,18-25,18,C,1,0,2,3.0,4.0,9687
537546,1004733,P00070042,M,18-25,18,C,1,0,1,2.0,16.0,15515
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [6]:
#9)Draw a frequency chart for the occupation
#df['Occupation'].value_counts().plot('bar')
df['Occupation'].value_counts()

4     70862
0     68120
7     57806
1     45971
17    39090
20    32910
12    30423
14    26712
2     25845
16    24790
6     19822
3     17366
10    12623
5     11985
15    11812
11    11338
19     8352
13     7548
18     6525
9      6153
8      1524
Name: Occupation, dtype: int64

In [33]:
#10)What is the purchase value for males and females
print('Purchase value for male: ',df[(df.Gender=='M')].Purchase.sum())
print('Purchase value for female: ',df[(df.Gender=='F')].Purchase.sum())

Purchase value for male:  3853044357
Purchase value for female:  1164624021

In [30]:
#11)Add an additional column for country (Country is US)
df['Country']=pd.Series(["US"]*len(df.index))
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Country
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,US
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,US
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,US
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,US
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,US

In [6]:
#12)Show the head of the data frame
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [7]:
#13)Show the last part of the dataframe
df.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [25]:
#14)Get the details of  user 1000001
df[df.User_ID==1000001]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Country
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,US
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,US
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,US
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,US
39180,1000001,P00085942,F,0-17,10,A,2,0,2,4.0,8.0,12842,US
78144,1000001,P00102642,F,0-17,10,A,2,0,4,8.0,9.0,2763,US
78145,1000001,P00110842,F,0-17,10,A,2,0,1,2.0,5.0,11769,US
78146,1000001,P00004842,F,0-17,10,A,2,0,3,4.0,12.0,13645,US
116848,1000001,P00117942,F,0-17,10,A,2,0,5,15.0,NaN,8839,US
116849,1000001,P00258742,F,0-17,10,A,2,0,5,NaN,NaN,6910,US
116850,1000001,P00142242,F,0-17,10,A,2,0,8,NaN,NaN,7882,US
116851,1000001,P00000142,F,0-17,10,A,2,0,3,4.0,5.0,13650,US
155570,1000001,P00297042,F,0-17,10,A,2,0,8,NaN,NaN,7839,US
155571,1000001,P00059442,F,0-17,10,A,2,0,6,8.0,16.0,16622,US
155572,1000001,P0096542,F,0-17,10,A,2,0,3,4.0,12.0,13627,US
194558,1000001,P00184942,F,0-17,10,A,2,0,1,8.0,17.0,19219,US
194559,1000001,P00051842,F,0-17,10,A,2,0,4,8.0,NaN,2849,US
233726,1000001,P00214842,F,0-17,10,A,2,0,14,NaN,NaN,11011,US
233727,1000001,P00165942,F,0-17,10,A,2,0,8,NaN,NaN,10003,US
233728,1000001,P00111842,F,0-17,10,A,2,0,8,NaN,NaN,8094,US
272808,1000001,P00178242,F,0-17,10,A,2,0,8,NaN,NaN,9946,US
311709,1000001,P00178342,F,0-17,10,A,2,0,8,NaN,NaN,7887,US
311710,1000001,P00183942,F,0-17,10,A,2,0,3,4.0,NaN,10872,US
311711,1000001,P00051442,F,0-17,10,A,2,0,8,17.0,NaN,9938,US
311712,1000001,P00248442,F,0-17,10,A,2,0,3,4.0,NaN,7943,US
311713,1000001,P00210342,F,0-17,10,A,2,0,3,4.0,NaN,11039,US
350797,1000001,P00289942,F,0-17,10,A,2,0,3,4.0,5.0,10900,US
390150,1000001,P0097142,F,0-17,10,A,2,0,12,NaN,NaN,1715,US
390151,1000001,P00255842,F,0-17,10,A,2,0,16,NaN,NaN,16446,US
428893,1000001,P00025442,F,0-17,10,A,2,0,1,2.0,9.0,15416,US
428894,1000001,P00074142,F,0-17,10,A,2,0,3,4.0,12.0,10572,US
467663,1000001,P00058142,F,0-17,10,A,2,0,3,4.0,12.0,11051,US
467664,1000001,P00220642,F,0-17,10,A,2,0,8,NaN,NaN,7953,US
506601,1000001,P00064042,F,0-17,10,A,2,0,3,4.0,12.0,8190,US

In [42]:
#15)Get the details of the 50th observation
df.iloc[49]

User_ID                         1000011
Product_ID                    P00189642
Gender                                F
Age                               26-35
Occupation                            1
City_Category                         C
Stay_In_Current_City_Years            1
Marital_Status                        0
Product_Category_1                    8
Product_Category_2                   13
Product_Category_3                  NaN
Purchase                           8027
Country                              US
Name: 49, dtype: object

In [8]:
#16)Create a small data frame with only user_id, age and purchase
df.loc[:,['User_ID','Age','Purchase']]

        User_ID    Age  Purchase
0       1000001   0-17      8370
1       1000001   0-17     15200
2       1000001   0-17      1422
3       1000001   0-17      1057
4       1000002    55+      7969
5       1000003  26-35     15227
6       1000004  46-50     19215
7       1000004  46-50     15854
8       1000004  46-50     15686
9       1000005  26-35      7871
10      1000005  26-35      5254
11      1000005  26-35      3957
12      1000005  26-35      6073
13      1000005  26-35     15665
14      1000006  51-55      5378
15      1000006  51-55      2079
16      1000006  51-55     13055
17      1000006  51-55      8851
18      1000007  36-45     11788
19      1000008  26-35     19614
20      1000008  26-35      8584
21      1000008  26-35      9872
22      1000008  26-35      9743
23      1000008  26-35      5982
24      1000008  26-35     11927
25      1000009  26-35     16662
26      1000009  26-35      5887
27      1000009  26-35      6973
28      1000009  26-35      5391
29      1000010  36-45     16352
...         ...    ...       ...
537547  1004733  18-25     11543
537548  1004734  51-55     20924
537549  1004734  51-55     13082
537550  1004735  46-50     11658
537551  1004735  46-50      6863
537552  1004735  46-50     16415
537553  1004735  46-50     18526
537554  1004735  46-50      7099
537555  1004735  46-50       578
537556  1004736  18-25      2183
537557  1004736  18-25     12724
537558  1004736  18-25      7796
537559  1004736  18-25      7770
537560  1004736  18-25      5940
537561  1004736  18-25      7834
537562  1004736  18-25     11508
537563  1004736  18-25      6074
537564  1004736  18-25      7084
537565  1004736  18-25      7934
537566  1004736  18-25      5350
537567  1004736  18-25      1994
537568  1004736  18-25      5930
537569  1004736  18-25      7042
537570  1004736  18-25     15491
537571  1004737  36-45     11852
537572  1004737  36-45     11664
537573  1004737  36-45     19196
537574  1004737  36-45      8043
537575  1004737  36-45      7172
537576  1004737  36-45      6875

[537577 rows x 3 columns]

In [9]:
#17)Print first 10 rows of the data frame
df[0:11]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254

In [10]:
#18)Sort the data frame based on purchase.
df.sort_values(by='Purchase')

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
377309,1004048,P00041442,F,36-45,1,B,1,0,13,14.0,16.0,185
411541,1003391,P00041442,M,18-25,4,A,0,0,13,14.0,16.0,185
27602,1004227,P00171342,M,26-35,19,A,0,0,13,16.0,NaN,185
403039,1001968,P00102142,M,26-35,11,B,2,0,13,16.0,NaN,185
400498,1001630,P00135542,M,46-50,17,C,1,0,13,NaN,NaN,186
266446,1005039,P00032642,F,36-45,4,B,2,1,13,16.0,NaN,186
233619,1006025,P00041442,F,26-35,1,B,1,0,13,14.0,16.0,186
5466,1000889,P00041442,M,46-50,20,A,1,0,13,14.0,16.0,186
172340,1002660,P00087142,M,55+,17,C,0,0,13,14.0,16.0,187
6609,1001066,P00200442,M,46-50,12,C,3,1,13,16.0,NaN,187
514048,1001198,P00212042,M,0-17,10,C,1,0,13,15.0,NaN,187
345191,1005120,P00066742,M,51-55,7,A,2,0,13,16.0,NaN,187
454981,1004028,P00041442,M,26-35,4,A,2,0,13,14.0,16.0,188
135690,1002967,P00283142,M,26-35,0,A,1,0,13,14.0,16.0,188
530836,1003762,P00200442,M,51-55,6,B,0,1,13,16.0,NaN,188
32440,1004977,P00173042,M,26-35,4,B,2,0,13,15.0,16.0,188
82524,1000752,P00273842,F,26-35,3,A,3,0,13,NaN,NaN,188
201772,1001150,P00132042,F,26-35,20,A,1,0,13,16.0,NaN,188
21243,1003359,P00149342,M,26-35,20,C,1,0,13,16.0,NaN,189
276092,1000563,P00173042,M,26-35,4,A,3,0,13,15.0,16.0,189
445871,1002672,P00227542,M,36-45,7,C,1,1,13,NaN,NaN,190
280165,1001185,P00135142,F,36-45,1,C,3,0,13,16.0,NaN,190
196295,1000300,P00227542,M,26-35,7,B,4+,1,13,NaN,NaN,190
483037,1002351,P00102142,F,26-35,0,B,4+,0,13,16.0,NaN,190
295724,1003603,P00173042,F,36-45,7,B,0,1,13,15.0,16.0,191
377657,1004085,P00041442,F,26-35,6,A,1,0,13,14.0,16.0,191
422631,1005039,P00066742,F,36-45,4,B,2,1,13,16.0,NaN,191
85314,1001178,P00132042,M,55+,0,C,1,1,13,16.0,NaN,192
222055,1004220,P00293442,M,36-45,0,B,0,1,13,NaN,NaN,192
278779,1001010,P00171342,M,26-35,0,A,1,0,13,16.0,NaN,192
...,...,...,...,...,...,...,...,...,...,...,...,...
139056,1003505,P00117642,F,26-35,15,A,0,1,10,16.0,NaN,23948
30279,1004607,P00085342,M,26-35,0,B,4+,0,10,13.0,NaN,23948
75373,1005622,P00085342,M,36-45,15,C,3,1,10,13.0,NaN,23949
132321,1002340,P00119342,M,36-45,2,A,2,0,10,13.0,NaN,23949
170551,1002288,P00086242,M,0-17,10,B,2,0,10,NaN,NaN,23949
46923,1001216,P00086242,M,26-35,2,A,1,1,10,NaN,NaN,23949
342015,1004610,P00052842,F,26-35,4,B,1,0,10,15.0,NaN,23950
366147,1002313,P00052842,F,51-55,6,C,4+,1,10,15.0,NaN,23951
321556,1001519,P00200642,M,18-25,4,C,1,0,10,16.0,NaN,23952
126614,1001509,P00159542,M,0-17,0,B,3,0,10,15.0,16.0,23953
68926,1004520,P00116142,M,26-35,4,C,1,1,10,13.0,16.0,23953
56879,1002788,P00085342,M,55+,1,B,0,1,10,13.0,NaN,23954
54364,1002274,P00052842,M,18-25,2,B,3,0,10,15.0,NaN,23954
449656,1003301,P00086242,F,26-35,2,B,3,0,10,NaN,NaN,23955
366333,1002359,P00085342,M,55+,13,C,1,1,10,13.0,NaN,23955
388010,1005716,P00052842,M,0-17,10,C,4+,0,10,15.0,NaN,23955
33268,1005102,P00052842,M,26-35,12,C,2,0,10,15.0,NaN,23956
416883,1004117,P00161842,M,18-25,4,B,4+,0,10,13.0,16.0,23958
373300,1003511,P00085342,M,51-55,0,C,2,1,10,13.0,NaN,23958
229329,1005367,P00085342,M,18-25,4,A,1,0,10,13.0,NaN,23958
7542,1001178,P00116142,M,55+,0,C,1,1,10,13.0,16.0,23958
298378,1003947,P00116142,M,26-35,0,C,3,0,10,13.0,16.0,23959
437804,1001387,P00086242,F,51-55,13,B,1,1,10,NaN,NaN,23959
292083,1003045,P00052842,M,46-50,1,B,2,1,10,15.0,NaN,23960
349658,1005848,P00119342,M,51-55,20,A,0,1,10,13.0,NaN,23960
321782,1001577,P00052842,M,55+,0,C,1,1,10,15.0,NaN,23960
503697,1005596,P00117642,M,36-45,12,B,1,0,10,16.0,NaN,23960
370891,1003160,P00052842,M,26-35,17,C,3,0,10,15.0,NaN,23961
93016,1002272,P00052842,M,26-35,0,C,1,0,10,15.0,NaN,23961
87440,1001474,P00052842,M,26-35,4,A,2,1,10,15.0,NaN,23961

In [14]:
#19)Show the summary stastics related to each of the age groups
df['Age'].describe()

count     537577
unique         7
top        26-35
freq      214690
Name: Age, dtype: object

In [44]:
#20)List all purchases lower than 100 and bigger than 10000
df.query('Purchase < 100' and 'Purchase > 10000')

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Country
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,US
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227,US
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215,US
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854,US
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686,US
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665,US
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055,US
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788,US
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614,US
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927,US
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662,US
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352,US
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946,US
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909,US
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212,US
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705,US
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963,US
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406,US
44,1000010,P00148642,F,36-45,1,B,4+,1,6,10.0,13.0,12642,US
45,1000010,P00312142,F,36-45,1,B,4+,1,8,NaN,NaN,10007,US
46,1000010,P00113242,F,36-45,1,B,4+,1,1,6.0,8.0,11562,US
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327,US
50,1000012,P00304242,M,26-35,12,C,2,0,1,6.0,NaN,15246,US
53,1000013,P00140742,M,46-50,1,C,3,1,1,15.0,NaN,15912,US
54,1000013,P00182342,M,46-50,1,C,3,1,1,5.0,6.0,12107,US
56,1000015,P00334242,M,26-35,7,A,1,0,1,8.0,NaN,19653,US
58,1000015,P00338442,M,26-35,7,A,1,0,1,16.0,NaN,11415,US
64,1000015,P00042142,M,26-35,7,A,1,0,1,2.0,6.0,11458,US
65,1000016,P00244242,F,36-45,0,C,0,1,1,2.0,15.0,11755,US
67,1000017,P00019342,M,51-55,1,C,0,0,1,6.0,15.0,15872,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537516,1004731,P00221442,M,26-35,17,B,1,1,1,2.0,5.0,15525,US
537518,1004732,P00003242,M,26-35,14,B,2,1,8,15.0,NaN,10075,US
537519,1004732,P00345842,M,26-35,14,B,2,1,2,8.0,14.0,16469,US
537520,1004732,P00329542,M,26-35,14,B,2,1,1,15.0,16.0,15493,US
537528,1004732,P00217542,M,26-35,14,B,2,1,1,2.0,11.0,11879,US
537529,1004732,P00184942,M,26-35,14,B,2,1,1,8.0,17.0,19217,US
537530,1004732,P00318742,M,26-35,14,B,2,1,1,8.0,NaN,12086,US
537531,1004732,P00216242,M,26-35,14,B,2,1,3,4.0,5.0,10974,US
537534,1004732,P00255942,M,26-35,14,B,2,1,1,16.0,NaN,15556,US
537535,1004732,P00103042,M,26-35,14,B,2,1,1,14.0,NaN,15785,US
537536,1004732,P00005042,M,26-35,14,B,2,1,6,16.0,NaN,19933,US
537537,1004732,P00219942,M,26-35,14,B,2,1,6,16.0,NaN,16486,US
537538,1004732,P00041842,M,26-35,14,B,2,1,6,8.0,NaN,12651,US
537539,1004732,P00113842,M,26-35,14,B,2,1,6,8.0,16.0,12510,US
537540,1004732,P00124642,M,26-35,14,B,2,1,16,NaN,NaN,16610,US
537542,1004732,P00085242,M,26-35,14,B,2,1,8,14.0,17.0,10036,US
537544,1004732,P00093342,M,26-35,14,B,2,1,1,8.0,18.0,11535,US
537546,1004733,P00070042,M,18-25,18,C,1,0,1,2.0,16.0,15515,US
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543,US
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924,US
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082,US
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658,US
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415,US
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526,US
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724,US
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508,US
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491,US
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852,US
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664,US
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196,US